menu {
    padding: 0;
    text-align: left;
    height: 50px;
    background: lightgray;
    margin: 0;
}

menu .material-icons {
    font-size: 2rem;
    cursor: pointer;
}
menu a {
    color: white;
    display: inline;
}

#logout {
    float: right;
}

#profile {
    float: left;
}