.content-window>div:first-child {
    margin-top: auto;
}

.content-window>div {
    margin-top: 5px;
    max-width: 75%;
}

.message-info {
    color: #9f9f9f;
    font-size: 67%;
}

.outgoing {
    margin-left: auto;
}

.incoming {
    margin-right: auto;
}

.incoming .message{
    background: linear-gradient(#e1e1e1, #ffffff);
}

.outgoing .message{
    background: linear-gradient(#6aa9f0, #ffffff);
}

.message {
    border-radius: 20px;
    box-shadow: 1px 1px #c6c7c6;
    padding: 15px;
}