span.status::before {
    transform: translateX(-15%) translateY(-10%);
    content: "";
    display: inline-block;
    padding: 1px;
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50%;
}

span.status-away::before {
    background: #ffce00;
}

span.status-online::before {
    background: #3efb3a;
}

span.status-offline::before {
    background: #7f807f;
}