@import 'common.css';
@import 'contacts.css';
@import 'status.css';
@import 'messages.css';
@import 'menu.css';
@import 'context.css';

.container {
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    width: 280px;
    height: 100%;
    float: left;
    background: linear-gradient(#ffffff, #e1e1e1);
    box-shadow: 1px 0 #c6c7c6;
    border-right: solid;
    border-width: 4px;
    border-image: linear-gradient(#e1e1e1, #ffffff) 1;
}

.chat {
    height: 100%;
    margin-left: 280px;
}

.contacts-window {
    padding: 15px;
}

menu {
    height: 50px;
    background: lightgray;
    margin: 0;
}

.context-window {
    height: 50px;
    text-align: center;
    border-bottom: solid lightgray;
    border-width: 4px;
}

.content-window {
    height: calc(100% - 50px - 105px);
}

.message-window {
    display: flex;
    padding: 20px;
    min-height: 100px;
    min-width: 100%;
}

.message-input {
    width: 100%;
    display: inline;
}

.message-button {
    margin-left: 20px;
    display: inline;
}

.message-window input, .message-window button {
    height: 60px;
}

.content-window {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 20px 0 20px;
    overflow-y: scroll;
}

.menu-button{
    display: none;
    height: 40px;
    position: absolute;
    margin: 5px;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .sidebar {
        display: none;
    }

    .chat {
        margin-left: 0;
    }

    .content-window>div {
        max-width: 80%;
    }
}

@media screen and (max-width: 650px) {
    .content-window>div {
        max-width: 90%;
    }
}