.search-bar {
    justify-content: flex-end;
    display: flex;
}

.search-bar .search-button {
    margin-left: 20px;
}

.search-button span {
    display: inline-block;
    transform: rotate(45deg) translateX(-23px) translateY(8px);
    }

.search-button span span {
    display: inline-block;
    transform: translateX(20px) translateY(-60px);
}

.search-bar .search-input {

}

.search-bar input {
    height: 60px;
}

.search-bar button {
    width: 60px;
    height: 60px;
    font-size: 2rem;
}

.contacts {
    margin-top: 20px;
}

.active-contact {
    background: darkgray;
    border-bottom: 4px solid #3f9ce2 !important;
}

.new-message {
    height: 1rem;
    width: 1rem;
    background: #409ee3;
    float: right;
    overflow: hidden;
    border-radius: 50%;
}

.new-message span { 
}

.contacts ul {
    padding: 0;
}

.contacts li {
    list-style-type: none;
    border-bottom: 2px solid #e0e0e0;
    padding: 10px 5px;
    cursor: pointer;
    transition: border-color  0.3s linear;
    transition: border-bottom 0.3s linear;
}

.contacts li:hover:not(.active-contact) {
    border-color: #3f9ce2;
    background-color: lightgray;
}

.contacts li i {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    float: right;
    color: white;
    display: none;
    transform: translateY(-5px);
}

.contacts li:hover i {
    display: inline-block;
}